
<div style="background-color: #a5c8ca !important;" class="w3-sidebar w3-bar-block" style="width:20%">
    <div>
        <img id="icon-menu" src="https://cdn-icons-png.flaticon.com/512/10621/10621819.png" alt="Icone">
    </div>
    <div class="list-options">
        <a href="/" class="w3-bar-item w3-button">Inicio</a>
        <a href="#" class="w3-bar-item w3-button">Perfil</a>
        <a href="#" class="w3-bar-item w3-button">Candidaturas</a>
    </div>
</div>

<!-- <div style="margin-left:20%">
    <div class="w3-container">
        <ul>
            <li>vaga 1</li>
            <li>vaga 2</li>
        </ul>

        <a href="/concurso">Increver-se</a><br>
    </div>
</div>    -->
             