<div class="logout">
    <i class="fa fa-sign-out"></i>
</div>
<div class="container-complet">
    <div class="list">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-md-12 row">
                    <div class="col col-md-10">
                        <h3><b>INSTITUIÇÃO DE COOPERAÇÃO INTERMUNICIPAL DO MÉDIO PARAOPEBA</b></h3>
                        <p>Concurso Público da Instituição de Cooperação Intermunicipal do Médio Paraopeba - ICISMEP</p>
                        <b>Data das Provas:</b> 11 de junho de 2023
                        <br>
                        <button type="button" class="btn-info btn btn-outline-warning">Saiba mais</button>
                    </div>
                    <div class="col col-md-2">
                        <button type="button" class="register btn btn-warning"><a li href="/concurso?id=1">Inscreva-se</a></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>