#icon-menu {
    width: 6rem;
    margin: auto;
    margin-top: 0.5rem;
    display: block;
}

body {
    line-height: 1.2;
}

.w3-bar-block {
    /* background-color: #a5c8ca !important; */
    background-color: #0B3861 !important;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 500;
}

.list-options {
    margin-top: 1.5rem;
}

.w3-button:hover {
    background-color: #f0b21ec9 !important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration-line: none;
}
